body{
    font-family: 'Poppins', sans-serif;
}
/*--------------------
    media quiery
--------------------*/

@media only screen and (min-width:320px){
   .carousel-item img{
    height: 500px;
   }
   .lessen-width img{
    width: 100%;
   }
}
@media only screen and (min-width:480px){
    .carousel-item img{
        height: 500px;
       }
       .lessen-width img{
        width: 100%;
       }
}
@media only screen and (min-width:767px){
    
}
@media only screen and (min-width:991px){
    
}
@media only screen and (min-width:1200px){
    
}